<ion-content [fullscreen]="true"> 
  <app-header></app-header>
  <app-navbar></app-navbar>
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col class="ion-align-self-center" size="12">
        <ion-grid fixed>
          <ion-row class="ion-justify-content-center">
            <ion-col class="colItem"  >
              <h1 id="title"><span class="enfasis">Forgot password</span></h1>
              <h3 id="description">BY CLICKING THE SEND BUTTON, AN EMAIL WILL BE SENT TO YOUR REGISTERED EMAIL ADDRESS.</h3>
              <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
              <ion-row class="ion-justify-content-center">
                  <ion-col class="ion-margin-top" size="10">
                    <ion-item class="input-antonio" lines="none">
                      <ion-label position="floating">Email</ion-label>
                      <ion-input formControlName="username" [(ngModel)]="username"></ion-input>
                    </ion-item>
                    <span class="error-input error ion-padding" *ngIf="isSubmitted && errorControl.username.errors?.required">
                      Username is required.
                    </span>
                  </ion-col>
                  <ion-col class="ion-margin-top" size="10">
                    <ion-button type="submit" class="btn-antonio" expand="full" fill="solid">SEND</ion-button>
                  </ion-col>
                </ion-row>
              </form>
              <ion-col size="12">
                <p id="register">DON'T HAVE AN ACCOUNT ? <a href="/auth/register">REGISTER NOW</a> </p>
              </ion-col>
              <p id="resetPassword"> I ALREADY REMEMBER MY PASSWORD. <a href='auth/login'> LOGIN</a> </p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>