@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../assets/fonts/opensans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans Bold';
    src: url('../assets/fonts/opensans/OpenSans-Bold.ttf');
}