<ion-slides pager="true" [options]="slideOpts">
  <ion-slide>
    <div class="container">
      <img class="img-slides" src="../../../../../assets/img/slides/bg1.jpg" alt="Snow" style="width:100%;">
      <div class="centered">
        <p>SECURE AND <span>EASY</span> WAY</p>
        <p>TO SOLAR <span>MONEY</span></p>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="container">
      <img class="img-slides" src="../../../../../assets/img/slides/bg2.jpg" alt="Snow" style="width:100%;">
      <div class="centered">
        <p>SECURE AND <span>EASY</span> WAY</p>
        <p>TO SOLAR <span>MONEY</span></p>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="container">
      <img class="img-slides" src="../../../../../assets/img/slides/bg3.jpg" alt="Snow" style="width:100%;">
      <div class="centered">
        <p>SECURE AND <span>EASY</span> WAY</p>
        <p>TO SOLAR <span>MONEY</span></p>
      </div>
    </div>
  </ion-slide>
</ion-slides>