<ion-content [fullscreen]="true">
  <app-header></app-header>
  <app-navbar></app-navbar>
  <app-slides></app-slides>
  <ion-grid>
    <ion-row class="ion-justify-content-center" >
      <ion-col class="ion-align-self-center ion-text-center" size="10" >
        <h1 class="title-block">ABOUT <span>US</span></h1>
        <h5 class="description-block">A COMMERCIAL WEBSITE THAT LISTS WALLETS, EXCHANGES AND OTHER BITCOIN RELATED INFO
        </h5>
        <ion-row class="row2" >
          <ion-col class="colImg" >
            <img class="img" src="../../assets/img/slides/bg-user.jpg">
          </ion-col>
          <ion-col class="colBlock" >
            <h2 class="title-block">a title</h2>
            <p class="content-block">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium vel adipisci pariatur beatae aliquam
              qui iure, ratione maiores voluptates facere excepturi est corrupti quis culpa, ut eaque error asperiores
              totam, perspiciatis obcaecati quidem a! Molestiae consectetur iusto nam commodi, sunt, at dolorem, saepe
              earum corporis ratione mollitia. Iure velit quidem temporibus neque impedit consectetur, reprehenderit,
              laborum nam accusantium, totam ipsa sint explicabo corporis quis itaque. Deserunt architecto praesentium
              est vel soluta voluptas iure doloremque fugit. Deserunt illo sequi nulla ratione eligendi. Debitis vero
              minima, suscipit porro nemo praesentium at deserunt delectus numquam aspernatur expedita, reprehenderit
              aperiam rerum neque ab sit!
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>